/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* BODY */
body {
  font-family: "Plus Jakarta Sans", Arial, sans-serif;
  background: linear-gradient(135deg, #e0eaf4, #f9faf7);
  color: #13183f;
  line-height: 1.6;
}

/* CONTAINER */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10%;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.logo {
  font-weight: 800;
  font-size: 1.4rem;
}

/* BUTTONS */
.cta {
  border: none;
  padding: 12px 24px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
}

.cta.dark {
  background: #13183f;
}

.cta.gradient {
  background: linear-gradient(180deg, #ff6f48, #f02aa6);
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 0;
  gap: 60px;
}

.hero-content {
  max-width: 480px;
}

.hero-content h3 {
  font-size: 2rem;
  margin-bottom: 20px;
  margin-top: 20px;
  line-height: 1.2;
}

.hero-content p {
  color: #666;
  margin-bottom: 30px;
}

/* HERO IMAGE */
.hero-image {
  position: relative;
}

.hero-image::before {
  content: "";
  position: absolute;
  inset: -40px;
  border-radius: 999px;
  z-index: 0;
}

.hero-image img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 999px;
  position: relative;
  z-index: 1;
}

/* COURSES GRID */
.boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 80px 0;
}
@media (max-width: 768px) {
  .boxes {
    grid-template-columns: 1fr;
  }
}

/* BOX */
.box {
  background: #ffffff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}

.box:hover {
  transform: translateY(-6px);
}

.box h3 {
  margin-bottom: 10px;
}

.box p {
  color: #666;
  font-size: 0.95rem;
}

/* ICON */
.icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(180deg, #ff6f48, #f02aa6);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

/* FEATURED BOX */
.box.featured {
  background: linear-gradient(180deg, #ff6f48, #f02aa6);
  color: #fff;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.box.featured h3 {
  font-size: 1.4rem;
}

/* FOOTER */
.footer {
  background: #13183f;
  background: cover;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 30px;
  height: 30px;

}
